@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Kode+Mono:wght@400..700&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/public/font/HelveticaNeue/helveticaNeueRegular.ttf');
  font-weight: 400;
  font-style: normal;
}


/* @font-face {
  font-family: 'Helvetica';
  src: url('/public/font/Helvetica_Neue/HelveticaNeue-Roman.otf');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'Helvetica';
  src: url('/public/font/helvetica-lt-narrow/helvn.ttf');
  font-weight: 200;
  font-style: normal;

}

/* ✅ HelveticaNeue Light (300) */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../public/font/HelveticaNeue/HelveticaNeueLTStd-Lt.otf');
  font-weight: 300;
  font-style: normal;
}

/* ✅ HelveticaNeue Regular (400) */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../public/font/HelveticaNeue/HelveticaNeueLTStd-ThCn.otf');
  font-weight: 600;
  font-style: normal;
}

/* ✅ HelveticaNeue Medium (500) */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../public/font/HelveticaNeue/HelveticaNeueLTStd-Md.otf');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  overflow: hidden;
  height: 100%; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}