/* @import url('https://fonts.googleapis.com/css2?family=Baumans&family=Kode+Mono:wght@400..700&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Kode+Mono:wght@400..700&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #3137FD;
}

.source-sans-light {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
}

.source-sans-extralight-italic {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 200;
  font-style: italic;
}


p{
  color: #3137FD;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
